.hero > img {
  position: relative;
}
.hero-body {
  padding: 0px !important;
  color: white;
}
.hero-title {
  position: absolute;
  top: 95vh;
  left: 3vw;
}
.hero-text {
  position: absolute;
  top: 100vh;
  left: 3vw;
  height: 4.5rem;
  overflow: hidden;
}

@media screen and (max-width: 900px) {
  .hero-title {
    top: 32vh;
  }
  .hero-text {
    top: 35vh;
  }
}
